<div class="manage-products">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h2>Manage Products</h2>
    </div>
    <div>
      <app-dialog
        [action]="'Add Product'"
        (productUpdated)="onProductUpdated()"
      ></app-dialog>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td class="d-flex justify-content-between">
          <app-dialog
            class="bg-light"
            *ngIf="isAdmin()"
            [action]="action"
            [product]="product"
            (productUpdated)="onProductUpdated()"
          ></app-dialog>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
