<div class="manage-products">
  <h2>Manage Products</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td class="d-flex justify-content-between">
          <app-dialog
            class="bg-light"
            *isGranted="roles.Administrator"
            [action]="action"
            [product]="product"
          ></app-dialog>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
